body {background-color: rgb(244, 244, 244); 
    font-family: Arial, Helvetica, sans-serif;
padding-top: 50px;
transition: background-color 0.5s ease, color 0.5s ease;}
h1{color: rgb(46, 46, 46);
font-size: 40px;}
h3{font-size: 24px;}
p{font-size: 20px;}
img{border-radius: 15px;}
.card{background-color: rgb(210, 209, 210);
padding: 25px;
width: 700px;
margin: 20px auto;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);}
h2{color: rgb(66, 67, 66);}
button{background-color: royalblue;
color: white;
border: none;
padding: 10px 20px;
border-radius: 8px;
font-size: 16px;}
button:hover{background-color: darkblue;}
.skills{display: flex;
gap: 20px;
justify-content: center;
align-items: center;}
.skills div{background-color: white;
padding: 10px;
border-radius: 10px;
width: 120px;
transition: 0.3s;}
.skills div:hover{transform: translateY(-5px);}
.contact{display: flex;
gap: 10px;
flex-direction: column;}
.contact div{background-color: white;
padding: 10px;
border-radius: 10px;}
a{text-decoration: none;
font-size: 16px;}
a:hover{color: red}
.calculator {
    width: 300px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); }
#calcScreen {
        width: 100px;
        width: -webkit-fill-available;
        height: 50px;
        background-color: #222;
        color: #fff;
        border: none;
        font-size: 24px;
        text-align: right;
        padding: 0 10px;
        margin-bottom: 20px;
        border-radius: 5px; }
.btn {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4a4a4a;
    color: #ffffff;}
.btn:hover { background-color: #ddd;}
.btn.operator {
    background-color: #333333;
    color: #ff9f0a;}
.clear { background-color: #ff5555; color: white;}
.clear:hover {background-color: #ff3333;}
.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;}  
#equalBtn {
    grid-row: span 2;
    background-color: #ff9f0a;
    color: white;
    height: 100px;}
